html
section#wrapper
p.highlight
section#wrapper.class-name
section#wrapper.first.second.third.fourth
p
    span

h1 very import heading

p
    | Text can be over 
    | many lines
    | after a pipe symbol

-var name = "Chen Guohui"
h1 Hello #{name}

